<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Resultados</title>
  <link rel="stylesheet"  href="../static/css/style_resultados.css" >
</head>

<br>
<br>
<br>
<h1>Resultados de la busqueda </h1>
<br>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>  Documento</th>
            <th> Tweet </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Content 1</td>
            <td>Content 1</td>
        </tr>
        <tr>
            <td>Content 2</td>
            <td>Content 2</td>
        </tr>
        <tr>
            <td>Content 5</td>
            <td>Content 5</td>

        </tr>
        <tr>
            <td>Content 6</td>
            <td>Content 6</td>

        </tr>

        <tbody>
    </table>
</div>
